body{
    background-color: rgb(243, 114, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
} 

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

button{
    margin-top: 10px;
}